* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.display-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

/* 淡入动画 */
.animate-fade-in {
	animation: fadeIn ease .3s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* 淡出动画 */
.animate-fade-out {
	animation: fadeOut ease .3s forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* 上滑动画 */
.animate-slide-up {
	animation: slideUp ease .3s forwards;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}

/* 下滑动画 */
.animate-slide-down {
	animation: slideDown ease .3s forwards;
}

@keyframes slideDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}