* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	min-height: 100vh;
}

.table-box {
	height: calc(100vh - 56px);
	overflow: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
}

th {
	text-align: left;
	background-color: #FAFAFA;
}

th,
td {
	padding: 16px;
	border-bottom: 1px solid #F0F0F0;
}

th:not(:first-child),
td:not(:first-child) {
	border-left: 1px solid #F0F0F0;
}

tr:hover td {
	background: #FAFAFA;
}

a {
	text-decoration: none;
	color: #1890FF;
}

.pagination {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 16px;
	font-size: 14px;
	line-height: 20px;
}

.pagination button {
	min-width: 32px;
	height: 24px;
	font-size: 14px;
	line-height: 22px;
	border-radius: 2px;
	background: #FFF;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	transition: .3s;
}

.pagination button:not(:disabled):hover,
.pagination button.active {
	color: #1890FF;
	border-color: #1890FF;
}

.pagination button:not(:disabled):active {
	color: #096DD9;
}

.pagination button:disabled {
	color: #BFBFBF;
	cursor: not-allowed;
}

.pagination-input {
	width: 52px;
	height: 22px;
	padding: 0 5px;
	margin: 0 10px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	outline: none;
	transition: .3s;
}

.pagination-input:hover {
	border-color: #1890FF;
}

.pagination-total {
	margin: 0 10px;
}